@use "./base.scss";

// put your custom CSS here!
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-weight: 600;
}

.folder-outer.open {
  ul > li {
    margin-bottom: 8px;
    line-height: 1.2;
  }

  a {
    font-weight: 300;
    font-size: 0.9rem;
  }
}

.content-meta {
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 0;

      &::after {
        content: ", ";
      }
    }
  }
}

p,
ul,
text,
a,
tr,
td,
li,
ol,
ul,
.katex,
.math {
  hyphens: none;
  text-align: justify;
}

.page {
  & article {
    p,
    ul,
    text,
    a,
    li,
    ol,
    ul {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
}
