@use "./base.scss";

// put your custom CSS here!
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-weight: 600;
}

// Ceci est pour réduire la taille du texte dans l'explorateur de fichiers
.folder-outer.open {
  ul > li {
    margin-bottom: 8px;
    line-height: 1.2;
  }

  a {
    font-weight: 300;
    font-size: 0.9rem;
  }
}

// Ceci est pour réduire la taille du texte dans la table des matières
.toc-content {
  li {
    margin-bottom: 8px;
    line-height: 1.2;
  }
  a {
    font-weight: 400;
    font-size: 0.9rem;
  }
}

.page {
  & article {
    p,
    ul,
    text,
    a,
    li,
    ol,
    ul {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
}
